STAGE=LOCAL
CHAINLIT_AUTH_SECRET_1=Fqxc=6dXEL0zWn@82G@?_5Uzt$D72?70q1Dj:tp/I:GpSx*whP=W-L5M-X~gPCjO

LOCAL_DB_URL=postgresql+asyncpg://herbalista:herbalista@localhost:5432/herbalista

AZURE_OPENAI_API_VERSION=2025-01-01-preview

AZURE_OPENAI_CHAT_DEPLOYMENT_NAME=gpt-4o-mini
AZURE_OPENAI_CHAT_MODEL_NAME=gpt-4o-mini
AZURE_OPENAI_CHAT_MODEL_TEMPERATURE=0.0
AZURE_OPENAI_CHAT_MAX_TOKENS=4096
AZURE_OPENAI_CHAT_STREAMING=true


AZURE_OPENAI_EMBEDDINGS_DEPLOYMENT_NAME=text-embedding-3-large
AZURE_OPENAI_EMBEDDINGS_MODEL_NAME=text-embedding-3-large
AZURE_OPENAI_ENDPOINT=https://oai-dev-herbalista.openai.azure.com
AZURE_OPENAI_API_KEY=<your_api_key_here>

AZURE_SEARCH_SERVICE_ENDPOINT=https://src-dev-herbalista.search.windows.net
AZURE_SEARCH_API_KEY=<your_api_key_here>

# RAG Indexes
AZURE_SEARCH_CHAT_FILE_UPLOAD_INDEX_NAME=chat_file_upload_index
AZURE_SEARCH_DEMO_RAG_INDEX_NAME=phyto-herbs-index

OAUTH_AZURE_AD_CLIENT_ID=
OAUTH_AZURE_AD_CLIENT_SECRET=
OAUTH_AZURE_AD_TENANT_ID=

OAUTH_AZURE_AD_ENABLE_SINGLE_TENANT=true

CHAINLIT_URL=http://0.0.0.0:8000/
# PTS_STOCKBALANCE_API_KEY=
# LITERAL_SERVER=
# LITERAL_API_KEY=

AZURE_SEARCH_APP_ID=
AZURE_SEARCH_APP_SECRET=



DOCUMENT_INTELLIGENCE_ENDPOINT=https://di-dev-herbalista.cognitiveservices.azure.com/
DOCUMENT_INTELLIGENCE_API_KEY=<your_api_key_here>

BING_SEARCH_API_KEY=<your_api_key_here>
BING_SEARCH_ENDPOINT=<your_endpoint_here>

PHOENIX_COLLECTOR_ENDPOINT=http://localhost:6006/v1/traces
PHOENIX_PRJ_NAME=herbalista