STAGE=LOCAL
CHAINLIT_AUTH_SECRET_1=<your_chainlit_auth_secret_here>

LOCAL_DB_URL=postgresql+asyncpg://simple_rag:simple_rag@localhost:5432/simple_rag

AZURE_OPENAI_API_VERSION=2025-01-01-preview

AZURE_OPENAI_CHAT_DEPLOYMENT_NAME=gpt-4o-mini
AZURE_OPENAI_CHAT_MODEL_NAME=gpt-4o-mini
AZURE_OPENAI_CHAT_MODEL_TEMPERATURE=0.0
AZURE_OPENAI_CHAT_MAX_TOKENS=4096
AZURE_OPENAI_CHAT_STREAMING=true


AZURE_OPENAI_EMBEDDINGS_DEPLOYMENT_NAME=text-embedding-3-large
AZURE_OPENAI_EMBEDDINGS_MODEL_NAME=text-embedding-3-large
AZURE_OPENAI_ENDPOINT=<your_azure_openai_endpoint_here>
AZURE_OPENAI_API_KEY=<your_azure_openai_api_key_here>

AZURE_SEARCH_SERVICE_ENDPOINT=<your_azure_search_endpoint_here>
AZURE_SEARCH_API_KEY=<your_azure_search_api_key_here>

# RAG Indexes
AZURE_SEARCH_CHAT_FILE_UPLOAD_INDEX_NAME=chat_file_upload_index
AZURE_SEARCH_DEMO_RAG_INDEX_NAME=simple-rag-index

OAUTH_AZURE_AD_CLIENT_ID=<your_oauth_client_id_here>
OAUTH_AZURE_AD_CLIENT_SECRET=<your_oauth_client_secret_here>
OAUTH_AZURE_AD_TENANT_ID=<your_oauth_tenant_id_here>

OAUTH_AZURE_AD_ENABLE_SINGLE_TENANT=true

CHAINLIT_URL=http://0.0.0.0:8000/
# PTS_STOCKBALANCE_API_KEY=
# LITERAL_SERVER=
# LITERAL_API_KEY=

AZURE_SEARCH_APP_ID=<your_azure_search_app_id_here>
AZURE_SEARCH_APP_SECRET=<your_azure_search_app_secret_here>



DOCUMENT_INTELLIGENCE_ENDPOINT=<your_document_intelligence_endpoint_here>
DOCUMENT_INTELLIGENCE_API_KEY=<your_document_intelligence_api_key_here>

BING_SEARCH_API_KEY=<your_api_key_here>
BING_SEARCH_ENDPOINT=<your_endpoint_here>

PHOENIX_COLLECTOR_ENDPOINT=http://localhost:6006/v1/traces
PHOENIX_PRJ_NAME=simple_rag